<div class="text-center mt-4 mb-4">
  <h4>Thank you for your $<%= @amount_param %> donation supporting music and arts education programs.</h4>
  <p>
    Learn more about our work:
  </p>
  <a href="https://www.sfoutsidelands.com/olworks">www.sfoutsidelands.com/olworks</a>

</div>
