<div class="text-center mt-4 mb-4">
  <p>Thank you for your ($ amount) donation supporting music and arts education programs.</p>
  <p>
    Learn more:
  </p>
  <a href="https://www.sfoutsidelands.com/olworks">www.sfoutsidelands.com/olworks</a>

</div>
