<%= form_tag charges_path, :id => 'payment-form' do %>
  <div class="form-row">
    <h1>
      <label for="card-element">
        Outsidelands Works Donation Form
      </label>
    </h1>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    
    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
<% end %>

<%= javascript_include_tag 'application' %>
